.footerDiv{
    z-index: 1;
    position: relative;
}.phoneDiv{
    height: 400px;
}
.img1{
    max-width: 16rem;
    position: relative;
    top: 5rem;
    left: 4rem;
    z-index: 3;
}
.img2{
    max-width: 16rem;
    position: relative;
    top:1rem;
    left: 0.5rem;
    z-index: 2;
}
.img3{
    position: absolute;
    max-width: 15rem;
    top: 5rem;
    left: 26.9rem;
    z-index: 1;
}
.img4{
    position: absolute;
    max-width: 15rem;
    left:14.3rem;
    z-index: 2;
    top: 9.8rem;
}
.firstGrid{
    padding-left: 4rem;
    position: relative;
    padding-top: 3rem;
}
.Vector{
    position: relative;
    height:"10rem";
   right: 4rem;
   top: 10rem;
}
.secondGrid{
    /* position: relative; */
    text-align: left;
}
.no{
    background-color: #ffffff;
    height: 2.5rem;
    width: 3rem;
    padding-top: 0.5rem;
    text-align: center;
    border-radius: 8px 0 0 8px; 
    margin-right: 0.1rem; 
}
.num{
    background-color: #ffffff;
    height: 2.5rem;
    width: 20rem;
    border: #ffffff;
    margin-right:1rem; 
}
.google{
    height: 3.5rem;
    width: 12rem;
    margin-right: 2rem;
}
.apple{
    height: 3.5rem;
    width: 12rem;
}
.footer{
    width: 100%;
    position: relative;
    z-index: 4;
    background-color: #1B3C74;
    height: 400px;
    color: #ffffff;
  padding-top: 5rem;
    padding-left: 8rem;
}
.logoDiv{
     display: flex!;
    flex-direction: column!;
    justify-content: space-between!; 
}
.hr{
background-color: #ffffff1A;
width: 85%;
margin-right: 15rem;
margin-top: 2rem;
margin-bottom: 2rem;
}
.copyRight{
    text-align: left;
}
@media(max-width:768px)
{
    .firstGrid{
        padding-left: 0;
        position: relative;
        margin-top: 4rem;
    }
    .img1{
        max-width: 10rem;
        position: relative;
        top: 2rem;
        left: 2rem;
        z-index: 3;
    }
    .img2{
        max-width: 10rem;
        position: relative;
        top:0;
        left: 0;
        z-index: 1;
    }
    .phoneDiv{
        height: 800px;
    }
    .img3{
        position: absolute;
        max-width: 9rem;
        top: 6rem;
        left: 4.7rem;
        z-index: 2;
    }
    .img4{
        position: absolute;
        max-width: 9rem;
        top: 4.5rem;
        left: 12.8rem;
        z-index: 0;
    }
    .num{
        width: 10rem;
    }
    .footer{
        height: 60rem;
    }
    .hr{
        width: 100%;
       
    }
    /* .copyRight{
        text-align: center;
    } */
}